* {
  margin: 0;
  padding: 0;
}

header {
  height: 3rem;
  background-color: cadetblue;
}

header a {
  margin-right: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}

.active {
  font-weight: bold;
  font-size: 1.3rem;
}

nav {
  padding: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: burlywood;
  border: 1px solid black;
  text-align: left;
  padding: .2rem;
}

td {
  border: 1px solid black;
  padding: .2rem;
}

tr {
  line-height: 1.5rem;
}

td button {
  margin-right: .3rem;
  padding: .1rem;
}

.tableDiv {
  width: 90%;
  margin: 2rem auto;
}

.addItemBtn {
  margin-top: .4rem;
  padding: .2rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-items: center;
}

.creationDiv,
.updateDiv {
  display: inline-block;
  padding: 1rem;
  width: 70%;
  min-width: 22rem;
  border: 1px solid gray;
}

.creationDiv form,
.updateDiv form {
  display: flex;
  flex-direction: column;
}

.creationDiv form h3,
.creationDiv form input,
.creationDiv form select,
.updateDiv form h3,
.updateDiv form input,
.updateDiv form select {
  margin-bottom: .5rem;
}

h4 {
  background-color: rgba(245, 55, 93, 0.6);
  text-align: center;
  margin: .4rem auto 0;
  line-height: 1.5rem;
  width: 60%;
}